@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800,900,1000,1200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main
{
    position: relative;
    background: linear-gradient(120deg,#fff,#fff 60%,pink 60%,pink 100%);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    color: rgb(230, 61, 61);
    font-weight: 500;
    font-size: 18px;
}
header ul li a:hover
header ul li a.active
{
    color: #e4697e;
}
.content8x
{
    width: 100%;
    display: flex;
    align-items: center;
}
.content8x .text
{
    max-width: 900px;
}
.content8x .text h2
{
    font-size: 4em;
    color: #e4697e;
}
.content8x .text p
{
    font-size: 1.1em;
    color: #333;
    line-height: 1.7em;
}
.content8x .text h3
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 300;
}
.content8x .text span
{
    text-shadow: 1px 2px 3px 4px 5px #333;
    color: #e4697e;
    font-size: 1.3em;
    font-weight: 400;
    font-style: initial;    
}
.content8x .text a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e4697e;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;  
}
